---
---

<main class="flex flex-row justify-center items-center">
  <ContactCard />
  <div>
    <img src='../images/profile_photo.webp' />
    <h1 class="text-4xl text-end text-black">About Me</h1>
    <p class="text-center">My education was in Sports Physiology and Biomechanics, however I fell in love with software a few years after college. I enjoy working in both front and back end web development, and have found myself working with native applications as well. I find a lot of fulfillment in the 'process' of building things, as I get excited to curate the fine details of a navbar hover effect or the database storage logic of a rust application.</p>
  </div>
</main>