---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting.astro';
import ContactStrip from '../components/ContactStrip.astro';
import ProjectsPreview from '../components/ProjectsPreview.astro';
---

<Layout title='Home'>
	<main class='bg-transparent w-full sm:w-[80%] h-screen p-2'>
		<div
			class='bg-white bg-opacity-30 m-auto w-[90%] [&>*]:mt-4 last:mb-4 py-10 px-4 sm:p-4 h-full overflow-y-scroll rounded-xl border-white shadow-md shadow-blue-50 ring-2 ring-offset-4 ring-offset-slate-100 bg-[linear-gradient(circle,rgba(1,156,213,0.812)_30%,rgba(1,169,184,0.69)_90%]'>
			<Greeting />
			<ContactStrip />
			<ProjectsPreview />
		</div>
	</main>
</Layout>
