---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting.astro';
import ContactStrip from '../components/ContactStrip.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-[90%] h-screen absolute top-0 right-0">
		<div class="w-[90%] h-[80%] shadow-[inset_0_15px_10px_-10px_rgba(0,0,0,0.3),inset_0_-15px_10px_-10px_rgba(0,0,0,0.3)]">
			<Greeting />
			<ContactStrip />
			<Projects />
		</div>
	</main>
</Layout>

