---
---


<section data-aos="zoom-in" class="w-full">
  <ul class="flex flex-row justify-end items-end [&>li]:ml-2 last:ml-2 pr-4">
    <li><a>Phone</a></li>
    <li><a>Email</a></li>
  </ul>
</section>