---
---

<section data-aos="zoom-in" class="flex flex-col items-end justify-between w-full text-end p-4 [&>*]:mt-2 [&>*]:mr-2">
  <h1 class="text-4xl text-end text-black">Hello, I'm Brahm</h1>
  <h2 class="">A Full Stack Web Developer</h2>
    <p class="w-[80%] mb-4">I enjoy the full front-to-back development process, from creating custom graphics to building robust web servers and native applications. I thoroughly enjoy playing outside on Mountain Bikes or paddling on the lake. I find a lot of satisfaction in building things and creative problem solving in domains beyond software like carpentry and electrical. </p>
</section>